/*
Theme Name: comesebebes
Theme URI: https://injunior.com.br
Author: Equipe PratIN
Author URI: https://injunior.com.br
Description: Tema para e-commerce de alimentos.
*/


main {
    background: #e7fafe;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

input {
    background: transparent;
    border: none;
    border-bottom: 2px solid;
    color: #6A066D;
}

select {
    background: transparent;
    border: none;
    border-bottom: 2px solid;
    color: #6A066D;
}

.hideme {
    display: none;
    visibility: hidden;
}