.cart_modal {
    z-index: 999;
    position: absolute;
    right: 0px;
    top: 0px;
    background: #F5C661;    
    width: 37vw;
    height: 100%;
    display: none;
    position: fixed; top: 0px; right: 0px;
}

.cart_modal_content {
    position: relative;
    margin: 45px 25px 45px 25px;
    width: 90%;
    height: 90%;
    color: #6A066D;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.fog_background {
    z-index: 21;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #33333385;
    top: 0px;
    left: 0px;
    display: none;
    position: fixed; top: 0px; left: 0px;
}

.cart_title_exit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cart_title {
    font-size: 3vmax;
}

.cart_products {
    display: flex;
    flex-direction: column;

    height: fit-content;
    gap: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 45px;
    padding-top: 30px;

    border-bottom: 1.2px solid ;
    border-top: 1.2px solid;
}

.cart_product {
    width: 100%;
    height: 100px;
    background: #D7F6FD;
    
    display: flex;
    flex-direction: row;
    font-size: 1.6vmax;
    color: black;
    justify-content: space-between;
}

.cart_img_title {
    display: flex;
    flex-direction: row;
}

.cart_exit:hover {
    cursor: pointer;
}

.cart_product_img {
    width: 7.3vw;
    height: 100%;
}

.cart_product_info {
    padding: 10px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.cart_product_price {
    position: relative;
    height: fit-content;
    margin-top: 65px;
    margin-right: 13px;
}

.cart_total {
    font-size: 1.5vmax;
    color: black;
    margin-top: 2%;
}

.button_to_checkout {
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
    position: relative;
    background: #7E3481DC;
    width: 50%;
    height: 9%;
    color: white;
    font-size: 2.1vmax;
    font-weight: 300;

    border: 0px;

    margin-top: 4%;
    
    left: 23%;

}
