header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #7A247D;
  padding: 0.8rem;
}

.esquerda,
.direita {
  display: flex;
  align-items: center;
  margin: 0 30px;
}

.esquerda form {
  margin-left: 1.2rem;
}

.cart_icon {
  margin-left: 1.2rem;
}

.cart_icon:hover {
  cursor: pointer;
}

.busca {
  background-color: #7A247D;
  font-family: 'Bellota Text';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  color: #F5C661;
  outline: none;
  border: none;
  
}

.busca + .linha-busca {
  width: 412px;
  height: 0px;
  left: 314px;
  top: 52px;
  border: 2px solid #F5C661;
}



.direita a {
  margin-left: 1.2rem;
}

.custom-button {
  left: 64.58%;
  right: 22.78%;
  top: 23.38%;
  bottom: 23.38%;
  background: #F5C661;
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  padding: 10px 20px;
  text-decoration: none;
}