/***** LANDING PAGE *****/
#home_title_box {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 30vh;

    background-color: #7A247D;
    align-items: center;
    justify-content: center;
    
}

.home_title {
    font-weight: 700;
    font-size: 3rem;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);

    color: #F5C661;
}

.home_subtitle {
    margin-top: 1.8%;

    font-size: 1.70rem;
    font-weight: 300;

    color: #FAFAFA
} 

.home_content_box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-top: 7vh;
    padding-bottom: 7vh;
}

.home_content_title {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 7.3vh;
}

.home_plates_types_title {
    margin-bottom: 0.9%;
    font-size: 1.6rem;
    font-weight: 400;
}

.home_plates_types {
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    gap: 2.3vw;
    width: 74.8vw;
}

.category_img {
    position: relative;
    width: 17vw;
}

.outline_category {
    outline: 4px double #C839CD;

}

.category_name {
    position: relative;
    bottom: 6.7vh;
    
    height: 5.8vh;
    
    background: linear-gradient(92.1deg, #6A066D 0%, rgba(126, 51, 128, 0.866308) 48.44%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
    
    color: #E5E5E5;
    padding-left: 0.9vw;
    padding-top: 0.7vh;
    padding-right: 0.4vw;
    font-size: 2.2vmax;
    font-weight: 300;
}

#day_of_the_week {
    font-size: 1.7rem;
    margin-bottom: 1.7%;
}

.plate_name {
    display: flex;
    flex-direction: column;
    font-size: 1.7vmax;
    font-weight: 300;
    bottom: 19.5vh;
    height: 18.6vh;
    justify-content: space-between;
}

.plate_img {
    width: 17vw;
    height: 53vh;
}

.price_cart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.price_card {
    height: fit-content;
    font-weight: 500;
}

.menu_other_options {
    font-size: 1.5vmax;
    font-weight: 500;
}

.home_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #7A247D;

    gap: 7%;
    height: 70vh;
    padding-left: 9%;
    padding-right: 9%;
    padding-top: 3%;
    padding-bottom: 1%;

    font-size: 2.6vmax;
    font-weight: 300;
    color: #FAFAFA;
}

.home_footer_body {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.map {
    display: flex;
    flex-direction: column;
    gap: 6%;
    height: 70%;

    font-size: 1.1vmax;
    font-weight: 400;
}

.icon_info {
    display: flex;
    flex-direction: row;
    gap: 3px;
    height: fit-content;
}
