.shop_subtitles {
    font-size: 2.5vmax;
    font-weight: 300;
    margin-bottom: 2vh;
}

.home_content_box:not(:has(.home_content_title)) {
    padding-bottom: 0;
}

.shop_subtitle_and_category {
    position: relative;
    width: fit-content;
    left: 12vw;
}

#plates {
    margin-bottom: 1.3vh;
}

.shop_category {
    font-size: 1.5vmax;
    font-weight: 300;
}

/*Filtros*/
.label_input {
    position: relative;
    display: flex;
    flex-direction: column;

    left: 12vw;
    margin-top: 2.9vh;
    gap: 2.9vh;
    width: 30vw;

    font-size: 2.8vmin;
}

.select_and_filter {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 11.5vw;

    left: 12vw;
    width: 74vw;
    margin-top: 2.9vh;
    margin-bottom: 2vh;
}

.label_select {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 30vw;
    gap: 2.9vh;

    font-size: 2.8vmin;
}

.filter_inputs {
    position: relative;
    display: flex;
    flex-direction: row;

    gap: 1vw;
    width: 10vw;
}

.shop_products_block {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 77vw;

    left: 10vw;
    
}

.shop_product {
    position: relative;
    display: flex;
    flex-direction: column;

    width: 17.4vw;
    margin-left: 1.7vw;
    margin-top: 3vh;
}

.shop_product_image {
    width: 20vw;
    height: 59vh;
}

.shop_product_name {
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: 1.7vmax;
    font-weight: 300;
    justify-content: space-between;

    width: 94.5%;
    height: 30%;

    background: linear-gradient(92.1deg, #6A066D 0%, rgba(126, 51, 128, 0.866308) 48.44%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
    color: #fafafa;
    
    top: 68.4%;
    padding-left: 0.5vw;
    padding-top: 0.7vh;
    padding-right: 0.4vw;
}

.pagination {
    text-decoration: none;
    position: relative;
    font-size: 1.25vmax;
    display: flex;
    color: black;

    left: 48.2vw;
    width: fit-content;
    margin-top: 4vh;
}
